.register-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    .register-date {
        flex-direction: column;

    }
}

@media screen and (max-width: 330px) {
    .title-description {
        font-size: 1.4rem !important;
    }

    .title-headline {
        font-size: 0.9rem !important;
    }
}


.title-headline {
    margin: 0;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #262626;
}

.title-description {
    margin: 0;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    font-size: 2.3125rem;
    line-height: 3.5rem;
    color: #ec6607;
}

.download-results-btn {
    margin: 0 !important;
}