.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 64px;
    border-top: 1px solid rgba(255,255,255,0.2);
    margin-top: -65px;
}

.fixed-footer {
    position: absolute;
    bottom: 0;
}

.single-order-page-footer {
    margin-top: 60px;
}


.footer-content {
    width: 100%;
    padding: 0 85.375px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 850px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }

    .footer {
        height: 100px;
        margin-top: 0px;

    }
}
.footer-copyright {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.25rem;
    color: #fff;
}

ul, li {
    list-style: none;
}

ul.footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
}

.footer-links-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 12px;
    position: relative;
}

.footer-links-item::before {
    content: "";
    display: flex;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
    transform: translateX(-12px);
}

.footer-links-item:first-of-type::before {
    display: none;
}

.footer-links-item a {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.25rem;
    color: #fff;
    text-decoration: none;
}
