.records-grid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    padding: 0 40px;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .records-grid {
        padding: 0px 10px;
    }

    .title-with-border-at-left {
        padding: 15px 30px;
    }
}

.records-headline {
    justify-content: flex-start;
    margin-bottom: 30px;
}
